<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ID Final Sprint</title>
</head>
<body>


<p>This is the home page of your Spring Boot application.</p>


<ul>
    <li><a th:href="@{/enter-numbers}">Enter Numbers</a></li>
    <li><a th:href="@{/previous-trees}">Previous Trees</a></li>
</ul>

</body>
</html>